<script lang="ts" setup>
import { Send } from "lucide-vue-next";
import BaseInput from "../components/base-input.vue";
import { VNodeRef, ref, watch } from "vue";
import useAuth from "../hooks/use-auth";
import { useMutation, useQuery, useQueryClient } from "@tanstack/vue-query";
import { chatApi } from "../api";
import ChatBubble from "../components/chat-bubble.vue";
import { Chat } from "../api/chat";
import { useRoute } from "vue-router";
import { socket } from "../websocket";
import { Message } from "../api/chat";
import ChatList from "../components/chat-list.vue";

const { user } = useAuth();
const isAdmin = user.value?.role === "ADMIN";
const messageText = ref("");
const route = useRoute();

const chatId = ref(route.params.chatId && (route.params.chatId[0] as string));

watch(
  () => route.params,
  (newParams) => {
    chatId.value = newParams.chatId as string;
  }
);

const conversationContainerRef = ref<VNodeRef | null>(null);

const queryKey = ["my-chat", chatId];
const { data } = useQuery({
  queryKey,
  queryFn: isAdmin ? () => chatApi.findById(chatId.value) : chatApi.my,
  enabled: !isAdmin || !!chatId.value,
});

function scrollToBottom() {
  setTimeout(() => {
    {
      if (conversationContainerRef.value)
        (conversationContainerRef.value as HTMLDivElement).scrollTop =
          conversationContainerRef.value.children[0].scrollHeight;
    }
  }, 0);
}

watch(() => data.value, scrollToBottom);

const queryClient = useQueryClient();
function addMessage(newMessage: Message) {
  const data = queryClient.getQueryData(queryKey) as Chat;
  queryClient.setQueryData(queryKey, {
    ...data,
    messages: [...data.messages, newMessage],
  });
  messageText.value = "";
  scrollToBottom();
}

const sendMessageMutation = useMutation({
  mutationFn({
    text,
    currentChatId,
  }: {
    text: string;
    currentChatId?: string;
  }) {
    return chatApi.sendMessage(text, currentChatId);
  },
  onSuccess(newMessage) {
    addMessage(newMessage);
  },
});

async function handleSendMessage(event: Event) {
  event.preventDefault();
  if (messageText.value)
    sendMessageMutation.mutate({
      text: messageText.value,
      currentChatId: chatId.value,
    });
}

socket.emit("join-room", user.value?.id);
socket.on("message", (newMessage: Message) => {
  if (!isAdmin || chatId.value === newMessage.chatId) addMessage(newMessage);
});
</script>

<template>
  <ChatList v-if="user?.role === 'ADMIN'" />
  <div v-if="!isAdmin || !!chatId" class="chat">
    <div class="chat__details">
      <b v-if="isAdmin">{{ user?.name }}</b>
      <b v-else>Admin</b>
      <span>{{ isAdmin ? "customer" : "specialist" }}</span>
    </div>
    <div class="chat__conversation-container" ref="conversationContainerRef">
      <div class="chat__conversation">
        <ChatBubble
          v-for="message in data?.messages"
          :isMe="user?.id === message.senderId"
          :text="message.text"
          :time="message.createdAt"
        />
      </div>
    </div>
    <form class="chat__sender" @submit="handleSendMessage">
      <BaseInput id="message-text" type="text" v-model="messageText" />
      <button type="submit"><Send color="white" /></button>
    </form>
  </div>
</template>

<style lang="scss">
.chat {
  display: flex;
  flex-direction: column;
  margin: 0 6px;
  flex-grow: 1;
  height: calc(100vh - 60px);

  &__details {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    padding: 6px;
  }

  &__conversation-container {
    overflow-y: scroll;
  }
  &__conversation {
    overflow-y: scroll;
    margin-bottom: 6px;

    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: scroll;
    justify-content: flex-end;
  }

  &__sender {
    position: relative;
    display: flex;
    padding-bottom: 6px;

    .form-control {
      width: 100%;
    }

    button {
      position: absolute;
      top: 50%;
      transform: translateY(-60%);
      right: 6px;
      border: 0;
      background-color: #00cd67;
      border-radius: 6px;
      cursor: pointer;
    }
  }
}
</style>
