<script lang="ts" setup>
import { ref } from "vue";
import BaseInput from "../components/base-input.vue";
import useAuth from "../hooks/use-auth";
import { useRouter } from "vue-router";
import { PAGES } from "../router";
import BaseButton from "../components/base-button.vue";

const username = ref("");
const password = ref("");

const { signIn } = useAuth();
const router = useRouter();

async function onSubmit(event: Event) {
  event.preventDefault();

  await signIn(username.value, password.value);
  router.push({ name: PAGES.CHAT });
}
</script>

<template>
  <h2>Sign in 2</h2>
  <form @submit="onSubmit" class="form-component">
    <BaseInput
      title="new"
      id="username"
      type="text"
      v-model="username"
      label="Username"
    />
    <BaseInput
      id="password"
      type="password"
      v-model="password"
      label="Password"
    />
    <BaseButton variant="green" class="button" type="submit">Submit</BaseButton>
  </form>
</template>

<style scoped lang="scss">
h2 {
  text-align: center;
  margin: 18px 0;
}

form.form-component {
  display: flex;
  flex-direction: column;

  .form-control {
    margin-bottom: 18px;
  }
}
</style>
