<script setup lang="ts">
import { useRoute, useRouter } from "vue-router";
import UsersList from "../components/users-list.vue";
import { useMutation, useQuery, useQueryClient } from "@tanstack/vue-query";
import { userApi, fileApi, basePath } from "../api";
import { UserRole, CreateUserPayload } from "../api/user";
import BaseInput from "../components/base-input.vue";
import { VNodeRef, ref, watch } from "vue";
import BaseButton from "../components/base-button.vue";
import { Trash2 } from "lucide-vue-next";
import useAuth from "../hooks/use-auth";
import { Save } from "lucide-vue-next";
import { PAGES } from "../router";
import BaseSelect from "../components/base-select.vue";

const { user } = useAuth();
const router = useRouter();
const route = useRoute();
const userId = ref(route.params.userId && (route.params.userId[0] as string));

watch(
  () => route.params,
  (newParams) => {
    userId.value = newParams.userId as string;
  }
);

const isNew = userId.value === "new";

const queryKey = ["user", userId];
const { data } = useQuery({
  queryKey,
  queryFn: () => userApi.findById(userId.value),
  enabled: !!userId && !isNew,
});

const username = ref("");
const name = ref("");
const password = ref("");
const avatar = ref("");

const roles = [UserRole.ADMIN, UserRole.CUSTOMER];
const role = ref<UserRole>(UserRole.CUSTOMER);

watch(
  () => data.value?.name,
  (nameValue) => (name.value = nameValue || "")
);
watch(
  () => data.value?.username,
  (nameValue) => (username.value = nameValue || "")
);

const queryClient = useQueryClient();
const saveMutation = useMutation({
  mutationFn(payload: CreateUserPayload) {
    return isNew
      ? userApi.create(payload)
      : userApi.patchById(userId.value, payload);
  },
  async onSuccess(user) {
    if (isNew) {
      await router.push({ name: PAGES.USERS, params: { userId: user.id } });
    } else queryClient.invalidateQueries(queryKey);
  },
});

async function handleSubmit(event: Event) {
  event.preventDefault();
  const payload = {} as CreateUserPayload;

  if (username.value !== data.value?.username)
    payload.username = username.value;

  if (name.value !== data.value?.name) payload.name = name.value;

  if (password.value) payload.password = password.value;

  if (avatar.value) payload.avatar = avatar.value;

  if (isNew) payload.role = role.value;

  saveMutation.mutate(payload);
}

const deleteUserMutation = useMutation({
  mutationFn() {
    return userApi.deleteById(userId.value);
  },
  onSuccess() {
    router.push({ name: PAGES.USERS });
  },
});
async function handleDelete() {
  if (confirm("Are you sure?")) {
    deleteUserMutation.mutate();
  }
}

const fileUploadRef = ref<VNodeRef | null>(null);
async function handleFileUpload(event: Event) {
  const files = (event.target as HTMLInputElement).files;
  const file = files && files[0];

  if (!file) return;

  const formData = new FormData();

  formData.append("file", file);

  const uploadedFile = await fileApi.uploadFile(formData);
  avatar.value = uploadedFile.fileUrl;
}
</script>
<template>
  <UsersList />
  <div v-if="!!data || isNew" class="users">
    <img
      :src="(avatar && basePath + avatar) || basePath + data?.avatar"
      :alt="data?.name"
      class="users__user-avatar"
      @click="fileUploadRef.click()"
    />
    <input
      type="file"
      hidden
      ref="fileUploadRef"
      accept="image/*"
      @input="handleFileUpload"
    />
    <h1>
      {{ data?.name }}
      <pre>{{ data?.role }}</pre>
    </h1>
    <form class="users__user-details" @submit="handleSubmit">
      <BaseInput
        id="username"
        type="text"
        v-model="username"
        label="Username"
        :required="isNew"
      />
      <BaseInput
        id="name"
        type="text"
        v-model="name"
        label="Name"
        :required="isNew"
      />
      <BaseInput
        id="password"
        type="password"
        v-model="password"
        label="Password"
        :required="isNew"
      />
      <BaseSelect
        id="role"
        v-model="role"
        label="Role"
        v-if="isNew"
        :required="isNew"
      >
        <option v-for="eachRole in roles" :value="eachRole">
          {{ eachRole }}
        </option>
      </BaseSelect>
      <div class="action-buttons">
        <BaseButton
          variant="red"
          type="button"
          :disabled="userId === user?.id"
          @click="handleDelete"
          v-if="!isNew"
        >
          Delete <Trash2 :size="18" />
        </BaseButton>
        <BaseButton variant="green" type="submit">
          Save <Save :size="18" />
        </BaseButton>
      </div>
    </form>
  </div>
</template>

<style scoped lang="scss">
.users {
  display: flex;
  flex-direction: column;
  margin: 0 6px;
  flex-grow: 1;
  height: calc(100vh - 60px);
  text-align: center;
  align-items: center;

  h1 pre {
    margin: 0;
    color: rgba(0, 0, 0, 0.5);
  }

  &__user-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: inline-block;
  }

  &__user-details {
    text-align: left;
    & > * {
      margin-bottom: 6px;
    }
  }
  .action-buttons > * {
    margin: 0 3px;
  }
}
</style>
