<script setup lang="ts">
import { ButtonHTMLAttributes } from "vue";

interface Props {
  type: ButtonHTMLAttributes["type"];
  variant: "green" | "red";
  disabled?: boolean;
}
defineProps<Props>();

const emit = defineEmits(["click"]);

function handleClick(event: Event) {
  emit("click", (event.target as HTMLInputElement).value);
}
</script>
<template>
  <button
    :class="`button ${variant}`"
    :disabled="disabled"
    :type="type"
    @click="handleClick"
  >
    <slot />
  </button>
</template>
<style scoped lang="scss">
.button {
  display: inline-block;
  padding: 0.375rem 0.75rem;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border-radius: 6px;
  font-size: 21px;

  &:disabled {
    cursor: not-allowed;
  }

  &.green {
    border: 1px solid #198754;
    background-color: #198754;
    color: white;
  }

  &.red {
    border: 1px solid #871919;
    background-color: #871919;
    color: white;
  }
}
</style>
