<script lang="ts" setup>
interface Props {
  id: string;
  label?: string;
  modelValue: string | number;
  required?: boolean;
}
defineProps<Props>();

const emit = defineEmits(["update:modelValue"]);

function updateInput(event: Event) {
  emit("update:modelValue", (event.target as HTMLInputElement).value);
}
</script>

<template>
  <div class="form-control">
    <label v-if="label" :for="id">{{ label }}</label>
    <select
      class="select"
      :name="id"
      :id="id"
      :value="modelValue"
      @input="updateInput"
      :required="required"
    >
      <slot />
    </select>
  </div>
</template>

<style scoped>
.form-control {
  display: flex;
  flex-direction: column;
}
.select {
  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: black;
  background-color: white;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  appearance: none;
  border-radius: 6px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
</style>
