<script setup lang="ts">
import dayjs from "dayjs";
type ChatBubbleProps = {
  isMe: boolean;
  text: string;
  time: string;
};
defineProps<ChatBubbleProps>();
</script>

<template>
  <div
    :class="{
      'chat__conversation-item': true,
      me: isMe,
    }"
  >
    <p>
      {{ text }}
    </p>
    <span>{{ dayjs(time).fromNow() }}</span>
  </div>
</template>

<style scoped lang="scss">
.chat__conversation-item {
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.1);
  max-width: 300px;
  padding: 6px;
  margin-bottom: 6px;

  &.me {
    background-color: #e1fbef;
    margin-left: auto;
  }

  p {
    margin: 0;
  }

  span {
    display: block;
    text-align: right;
    color: rgba(0, 0, 0, 0.6);
  }
}
</style>
