<script lang="ts" setup>
import { computed, ref } from "vue";
import BaseInput from "./base-input.vue";
import { basePath, chatApi } from "../api";
import { useQuery } from "@tanstack/vue-query";
import dayjs from "dayjs";
import { useRouter } from "vue-router";
import { PAGES } from "../router";
import FuzzySearch from "fuzzy-search";

const router = useRouter();
const searchText = ref("");

const { data } = useQuery({
  queryKey: ["chats"],
  queryFn: chatApi.all,
});

const searcher = computed(
  () => new FuzzySearch(data.value || [], ["user.name"])
);
const chats = computed(() => {
  return searcher.value.search(searchText.value);
});
</script>

<template>
  <div class="chat-list">
    <div class="chat-list__search">
      <BaseInput v-model="searchText" type="text" id="search" />
    </div>
    <ul class="chat-list__users">
      <li
        v-for="chat in chats"
        tabindex="0"
        @click="
          async () => {
            await router.push({
              name: PAGES.CHAT,
              params: { chatId: chat.id },
            });
          }
        "
      >
        <img
          :src="basePath + (chat.user.avatar || '/uploads/default.png')"
          :alt="chat.user.name"
          class="chat-list__users-avatar"
        />
        <div class="message-details">
          <div class="message-details__top">
            <b>{{ chat.user.name }}</b>
            <span>{{
              dayjs(chat.messages[0]?.createdAt).format("HH:mm")
            }}</span>
          </div>
          <p class="message-details__text">
            {{ chat.messages[0]?.text }}
          </p>
        </div>
      </li>
    </ul>
  </div>
</template>

<style lang="scss">
.chat-list {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 300px;
  height: calc(100vh - 60px);
  margin-left: 6px;

  &__search {
    position: relative;
    display: flex;

    .form-control {
      width: 100%;
    }
  }

  &__users {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      margin-top: 6px;
      background-color: rgba(0, 0, 0, 0.05);
      border-radius: 6px;
      padding: 6px;
      display: flex;
      user-select: none;
      cursor: pointer;

      &:hover {
        background-color: rgba(0, 0, 0, 0.07);
      }
      &:active {
        background-color: rgba(0, 0, 0, 0.09);
      }

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }

      .message-details {
        margin-left: 6px;
        display: flex;
        flex-direction: column;
        width: 100%;

        &__top {
          display: flex;
          justify-content: space-between;

          span {
            color: rgba(0, 0, 0, 0.6);
          }
        }
        &__text {
          color: rgba(0, 0, 0, 0.6);
          margin: 0;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          line-clamp: 2;
          -webkit-box-orient: vertical;
        }
      }
    }
  }
}
</style>
