<script lang="ts" setup>
import { MessageSquare } from "lucide-vue-next";
import useAuth from "../hooks/use-auth";
import { useRouter } from "vue-router";
import { PAGES } from "../router";
import { Users2 } from "lucide-vue-next";
import { basePath } from "../api";
const { signOut, user } = useAuth();

const router = useRouter();

function handleSignOut() {
  signOut();
  router.push({ name: PAGES.SIGN_IN });
}
</script>

<template>
  <div class="sidebar">
    <div class="sidebar-user">
      <img
        :src="basePath + (user?.avatar || '/uploads/default.png')"
        alt="Name"
        class="sidebar-user__avatar"
      />
      <b>{{ user?.name }}</b>
    </div>
    <ul class="sidebar-list">
      <li>
        <RouterLink to="/chat">
          <MessageSquare :size="30" />
          Chat
        </RouterLink>
      </li>
      <li v-if="user?.role === 'ADMIN'">
        <RouterLink to="/users">
          <Users2 :size="30" />
          Users
        </RouterLink>
      </li>
      <li class="separator" />
      <li>
        <a href="#" @click="handleSignOut">Chiqish</a>
      </li>
    </ul>
  </div>
</template>
<style lang="scss" scoped>
.sidebar {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  max-width: 200px;
  height: calc(100vh - 60px);
  margin-left: 6px;

  &-user {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    color: rgba(0, 0, 0, 0.6);

    &__avatar {
      width: 150px;
      height: 150px;
      border-radius: 50%;
    }
  }

  &-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    flex-grow: 1;
    margin: 0;

    li {
      position: relative;
      padding: 6px 10px;

      &:last-child {
        margin-top: auto;
        a {
          color: rgba(0, 0, 0, 0.6);
        }
      }

      a {
        display: flex;
        align-items: center;
        font-size: x-large;
        text-decoration: none;
        color: black;

        &::after {
          content: "";
          position: absolute;
          left: 6px;
          top: 0;
          right: 6px;
          bottom: 0;
          background-color: rgba(0, 0, 0, 0.1);
          border-radius: 6px;
          opacity: 0;
          transition: 0.1s opacity ease-out;
        }

        &:hover::after {
          opacity: 1;
        }

        svg {
          margin-right: 10px;
        }
      }
    }
  }
}
</style>
