<template>
  <div class="top-bar">
    <router-link to="/" target="_blank">
      <img src="/logo.svg" class="logo" alt="Agrobank logo" />
    </router-link>
  </div>
</template>

<style scoped lang="scss">
.top-bar {
  max-height: 60px;
  display: flex;
  align-items: center;
  padding: 6px;

  a, a img {
    height: 50px;
  }
}
</style>
