<script lang="ts" setup>
import { computed, ref } from "vue";
import BaseInput from "./base-input.vue";
import { basePath, userApi } from "../api/index.js";
import { useQuery } from "@tanstack/vue-query";
import { useRouter } from "vue-router";
import { PAGES } from "../router.js";
import FuzzySearch from "fuzzy-search";

const router = useRouter();
const searchText = ref("");

const { data } = useQuery({
  queryKey: ["users"],
  queryFn: userApi.findAll,
});

const searcher = computed(
  () => new FuzzySearch(data.value || [], ["username", "name"])
);
const users = computed(() => {
  return searcher.value.search(searchText.value);
});
</script>

<template>
  <div class="user-list">
    <div class="user-list__search">
      <BaseInput v-model="searchText" type="text" id="search" />
    </div>
    <ul class="user-list__users">
      <li
        tabindex="0"
        @click="
          async () => {
            await router.push({
              name: PAGES.USERS,
              params: { userId: 'new' },
            });
          }
        "
      >
        <div class="message-details">Add new user</div>
      </li>
      <li
        v-for="user in users"
        tabindex="0"
        @click="
          async () => {
            await router.push({
              name: PAGES.USERS,
              params: { userId: user.id },
            });
          }
        "
      >
        <img
          :src="basePath + (user.avatar || '/uploads/default.png')"
          :alt="user.name"
          class="user-list__users-avatar"
        />
        <div class="message-details">
          {{ user.name }}
          <pre>{{ user.role }}</pre>
        </div>
      </li>
    </ul>
  </div>
</template>

<style lang="scss">
.user-list {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 300px;
  height: calc(100vh - 60px);
  margin-left: 6px;

  &__search {
    position: relative;
    display: flex;

    .form-control {
      width: 100%;
    }
  }

  &__users {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      margin-top: 6px;
      background-color: rgba(0, 0, 0, 0.05);
      border-radius: 6px;
      padding: 6px;
      display: flex;
      user-select: none;
      cursor: pointer;
      align-items: center;

      &:hover {
        background-color: rgba(0, 0, 0, 0.07);
      }
      &:active {
        background-color: rgba(0, 0, 0, 0.09);
      }

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }

      .message-details {
        margin-left: 6px;
        display: flex;
        flex-direction: column;
        width: 100%;

        pre {
          margin: 0;
        }
      }
    }
  }
}
</style>
