<template>
  <div class="auth-block">
    <div class="auth-block__title">
      <img src="/logo.svg" class="logo" alt="Agrobank logo" height="50" />
    </div>
    <div class="auth-block__body">
      <RouterView />
    </div>
  </div>
</template>

<style lang="scss" scoped>
.auth-block {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: -1.3px -2.6px 5.3px rgba(0, 0, 0, 0.02),
    8px 16.1px 17.9px rgba(0, 0, 0, 0.03), 50px 100px 80px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.08);
  padding: 18px;
  border-radius: 6px;

  &__title {
    display: flex;
    justify-content: center;
  }

  &__body {
    display: flex;
    flex-direction: column;
  }
}
</style>
