<script lang="ts" setup>
import { RouterView } from "vue-router";
import Sidebar from "../components/sidebar.vue";
import TopBar from "../components/top-bar.vue";
</script>

<template>
  <TopBar />
  <div class="app-body">
    <Sidebar />
    <RouterView />
  </div>
</template>

<style>
.app-body {
  display: flex;
}
</style>
